<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>login form</title>
</head>
<body>
    <div class="reg_container">
    <div class="reg_title">login form</div>
    <form action="/login" method="POST">
        <div class="log_reg_user_details">
            <div class="reg_input_box">
                <span class="reg_details">Email</span>
                <input type="text" placeholder="Enter your email" name="email" required>
            </div>
            <div class="reg_input_box">
                <span class="reg_details">Password</span>
                <input type="text" placeholder="Enter your password" name="password" required>
            </div>
        </div>

        <div class="reg_button">
            <input type="submit" value="login">
        </div>
    </form>
</div>

</body>
</html>