<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>login form</title>
  </head>
  <style>
    body{ background: linear-gradient(123deg, #71b8e7, #9b59b6); }
  </style>
  <body>
    <div class="reg_container">
      <h1>THis is the secret page</h1>
    </div>

  </body>
</html>