 <link rel="stylesheet" href="../../public/css/style.css">
 <header id="header">
    <nav class="header-top bg-secondary py-1">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <ul class="info d-flex flex-wrap list-unstyled m-0">
            <li class="location text-white text-capitalize d-flex align-items-center me-4" style="font-size: 12px;">
              <svg class="text-primary me-1" width="15" height="15">
                <use xlink:href="#location"></use>
              </svg>State Road 54 Trinity, Florida
            </li>
            <li class="phone text-white text-capitalize d-flex align-items-center me-4" style="font-size: 12px;">
              <svg class="text-primary me-1" width="15" height="15">
                <use xlink:href="#phone"></use>
              </svg>+666 333 9999
            </li>
            <li class="time text-white text-capitalize d-flex align-items-center me-4" style="font-size: 12px;">
              <svg class="text-primary me-1" width="15" height="15">
                <use xlink:href="#clock"></use>
              </svg>8:00-18:00, Sat: Closed
            </li>
          </ul>
          <ul class="social-links d-flex flex-wrap list-unstyled m-0">
            <li class="social">
              <a href="#">
                <svg class="social me-1" width="16" height="16">
                  <use xlink:href="#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social ms-4">
              <a href="#">
                <svg class="social me-1" width="16" height="16">
                  <use xlink:href="#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social ms-4">
              <a href="#">
                <svg class="social me-1" width="16" height="16">
                  <use xlink:href="#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social ms-4">
              <a href="#">
                <svg class="social me-1" width="16" height="16">
                  <use xlink:href="#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social ms-4">
              <a href="#">
                <svg class="social me-1" width="16" height="16">
                  <use xlink:href="#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <nav id="primary-header" class="navbar navbar-expand-lg py-3">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="images/main-logo.png" class="logo img-fluid">
        </a>
        <button class="navbar-toggler border-0 d-flex d-lg-none order-3 p-2 shadow-none" type="button"
          data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false">
          <svg class="navbar-icon" width="60" height="60">
            <use xlink:href="#navbar-icon"></use>
          </svg>
        </button>
        <div class="header-bottom offcanvas offcanvas-end" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
          <div class="offcanvas-header px-4 pb-0">
            <button type="button" class="btn-close btn-close-black mt-2" data-bs-dismiss="offcanvas" aria-label="Close"
              data-bs-target="#bdNavbar"></button>
          </div>
          <div class="offcanvas-body align-items-center justify-content-end">
            <ul class="navbar-nav align-items-center mb-2 mb-lg-0">
              <li class="nav-item px-3">
                <a class="nav-link active p-0" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link p-0" href="about.html">About</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link p-0" href="/secret">Secret</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link p-0" href="blog.html">Blog</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link p-0" href="contact.html">Contact</a>
              </li>
              <li class="nav-item px-3 dropdown">
                <a class="nav-link p-0 dropdown-toggle text-center " data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                  <li><a href="about.html" class="dropdown-item text-uppercase ">About <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="blog.html" class="dropdown-item text-uppercase ">Blog <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="blog-single.html" class="dropdown-item text-uppercase ">Blog-Single <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="quote.html" class="dropdown-item text-uppercase ">quote <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="services.html" class="dropdown-item text-uppercase ">Services <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="services-single.html" class="dropdown-item text-uppercase ">Service-Single
                      <span class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="project.html" class="dropdown-item text-uppercase ">Project <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="project-single.html" class="dropdown-item text-uppercase ">Project-Single
                      <span class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="pricing.html" class="dropdown-item text-uppercase ">Pricing <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="contact.html" class="dropdown-item text-uppercase ">Contact <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="team.html" class="dropdown-item text-uppercase ">Our Team <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="review.html" class="dropdown-item text-uppercase ">Reviews <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="faq.html" class="dropdown-item text-uppercase ">FAQs <span
                        class="badge bg-secondary">Pro</span></a></li>
                </ul>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link p-0" href="/login">login</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link p-0" href="/register">Register</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link p-0 fw-bold text-uppercase" href="https://templatesjungle.gumroad.com/l/jetwash"
                  target="_blank">Get Pro</a>
              </li>

              <li class="nav-item ps-3 mt-4 mt-lg-0">
                <a href="quote.html" class="btn btn-outline-primary py-2 px-4">Get a quote</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>